.content{
	margin: 20px 30px 40px;
	background-color: #fff;
}
.searchContent{
	display: flex;
	justify-content: space-around;
}
.tableStyle{
	margin: 10px auto;
	width: 90%;
}
.tableStyle tr td{
	line-height: 100%;
}
.buttonStyle{
	color:#fff;
}
.form-horizontal{
	width: 90%;
	margin: 10px auto;
}
.radio{
	width: 20%;
	display: flex!important;
	justify-content: space-around;
}
.radio2{
	width: 40%!important;
}
.breadcrumb{
text-align: left;
}
.avaterStyle{
	width: 48px;
	height: 48px;
	border-radius: 50%;
}
#searchBorder{
	display: flex;
	justify-content: center;
}
#choiceBorder{
	width: 30%;
}
.textAreaStyle{
	overflow: auto;
	max-width: 100px;
	max-height: 200px;
	table-layout: fixed;
}
#textAreaStyle{
	border: none;
	background-color: transparent;
}
#pathStyle{
	width: 100%;
}
#breadcrumb{
	margin-bottom: 0px;
}
#firstInfor{
	display: flex;
	align-items: center;
}